@model IEnumerable<MyCoreApp.Models.Smsbilgi>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Smsuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smspass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smsno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smsapi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Smsuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smspass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smsno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smsapi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
