@model MyCoreApp.Models.UserInvoices

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInvoices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peydate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peydate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Packet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Packet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tdurum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tdurum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taciklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taciklama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tyapan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tyapan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaciklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaciklama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kmesaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kmesaj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taksit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taksit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tekrar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tekrar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Otarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Otarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mcoid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mcoid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
